
.icon-add-circle:before { content: '\e800'; } /* '' */
.icon-alarm-bell-off:before { content: '\e801'; } /* '' */
.icon-alarm-bell:before { content: '\e802'; } /* '' */
.icon-alert-circle:before { content: '\e803'; } /* '' */
.icon-alert-triangle:before { content: '\e804'; } /* '' */
.icon-arrow-circle-down:before { content: '\e805'; } /* '' */
.icon-arrow-circle-right:before { content: '\e806'; } /* '' */
.icon-arrow-circle-up:before { content: '\e807'; } /* '' */
.icon-arrow-down-1:before { content: '\e808'; } /* '' */
.icon-arrow-down:before { content: '\e809'; } /* '' */
.icon-arrow-left-1:before { content: '\e80a'; } /* '' */
.icon-arrow-left:before { content: '\e80b'; } /* '' */
.icon-arrow-right-1:before { content: '\e80c'; } /* '' */
.icon-arrow-right:before { content: '\e80d'; } /* '' */
.icon-arrow-up-1:before { content: '\e80e'; } /* '' */
.icon-arrow-up:before { content: '\e80f'; } /* '' */
.icon-attachment-1:before { content: '\e810'; } /* '' */
.icon-award-trophy-star:before { content: '\e811'; } /* '' */
.icon-bin-1:before { content: '\e812'; } /* '' */
.icon-book-open:before { content: '\e813'; } /* '' */
.icon-bookmarks-1:before { content: '\e814'; } /* '' */
.icon-button-pause:before { content: '\e815'; } /* '' */
.icon-button-play-1:before { content: '\e816'; } /* '' */
.icon-button-refresh-arrow:before { content: '\e817'; } /* '' */
.icon-camera-1:before { content: '\e818'; } /* '' */
.icon-check-circle-1:before { content: '\e819'; } /* '' */
.icon-check-double-1:before { content: '\e81a'; } /* '' */
.icon-cloud:before { content: '\e81b'; } /* '' */
.icon-cog:before { content: '\e81c'; } /* '' */
.icon-computer-bug-1:before { content: '\e81d'; } /* '' */
.icon-database-2:before { content: '\e81e'; } /* '' */
.icon-delete-1:before { content: '\e81f'; } /* '' */
.icon-envelope:before { content: '\e820'; } /* '' */
.icon-expand-3:before { content: '\e821'; } /* '' */
.icon-filter-1:before { content: '\e822'; } /* '' */
.icon-flag-1.svg:before { content: '\e823'; } /* '' */
.icon-flash-1:before { content: '\e824'; } /* '' */
.icon-flash-off:before { content: '\e825'; } /* '' */
.icon-folder:before { content: '\e826'; } /* '' */
.icon-gift-box:before { content: '\e827'; } /* '' */
.icon-graph-stats-ascend:before { content: '\e828'; } /* '' */
.icon-graph-stats-descend:before { content: '\e829'; } /* '' */
.icon-house-2:before { content: '\e82a'; } /* '' */
.icon-layout-left:before { content: '\e82b'; } /* '' */
.icon-layout-right:before { content: '\e82c'; } /* '' */
.icon-like:before { content: '\e82d'; } /* '' */
.icon-list-bullets:before { content: '\e82e'; } /* '' */
.icon-loading:before { content: '\e82f'; } /* '' */
.icon-login-1:before { content: '\e830'; } /* '' */
.icon-love-it:before { content: '\e831'; } /* '' */
.icon-megaphone-1:before { content: '\e832'; } /* '' */
.icon-messages-bubble-double:before { content: '\e833'; } /* '' */
.icon-messages-bubble-square:before { content: '\e834'; } /* '' */
.icon-messages-bubble:before { content: '\e835'; } /* '' */
.icon-microphone:before { content: '\e836'; } /* '' */
.icon-multiple-neutral-1:before { content: '\e837'; } /* '' */
.icon-navigation-down-1:before { content: '\e838'; } /* '' */
.icon-navigation-left-1:before { content: '\e839'; } /* '' */
.icon-navigation-menu-vertical:before { content: '\e83a'; } /* '' */
.icon-navigation-right-1:before { content: '\e83b'; } /* '' */
.icon-navigation-up-1:before { content: '\e83c'; } /* '' */
.icon-network-1:before { content: '\e83d'; } /* '' */
.icon-notes-tasks:before { content: '\e83e'; } /* '' */
.icon-paper-write:before { content: '\e83f'; } /* '' */
.icon-pencil:before { content: '\e840'; } /* '' */
.icon-pin:before { content: '\e841'; } /* '' */
.icon-power-button:before { content: '\e842'; } /* '' */
.icon-question-circle:before { content: '\e843'; } /* '' */
.icon-rating-star:before { content: '\e844'; } /* '' */
.icon-rss-feed:before { content: '\e845'; } /* '' */
.icon-search:before { content: '\e846'; } /* '' */
.icon-settings-off:before { content: '\e847'; } /* '' */
.icon-settings-on:before { content: '\e848'; } /* '' */
.icon-share:before { content: '\e849'; } /* '' */
.icon-shield-check-1:before { content: '\e84a'; } /* '' */
.icon-shrink-2:before { content: '\e84b'; } /* '' */
.icon-single-neutral:before { content: '\e84c'; } /* '' */
.icon-subtract-circle:before { content: '\e84d'; } /* '' */
.icon-tags:before { content: '\e84e'; } /* '' */
.icon-time-clock-circle:before { content: '\e84f'; } /* '' */
.icon-view-1:before { content: '\e850'; } /* '' */
.icon-view-off:before { content: '\e851'; } /* '' */
.icon-navigation-menu:before { content: '\e852'; } /* '' */
.icon-messages-bubble-square-warning:before { content: '\e853'; } /* '' */
.icon-common-file-text:before { content: '\e854'; } /* '' */